version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: mongo
    ports:
      - 27017:27017
    volumes:
      - mongodbdata:/data/db
  
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - rabbitmqdata:/var/lib/rabbitmq
    hostname: rabbitmq
  catalog-service:
    build:
      context: .
      dockerfile: ./src/Play.Catalog.Service/Dockerfile
    ports:
      - "5001:8080"
    environment:
      - MongoDb__ConnectionString=mongodb://mongodb:27017
      - RabbitMq__ConnectionString=amqp://guest:guest@rabbitmq:5672
      - ENABLE_SWAGGER=true
    depends_on:
      - mongodb
      - rabbitmq

  inventory-service:
    build:
      context: .
      dockerfile: ./src/Play.Inventory.Service/Dockerfile
    ports:
      - "5002:8080"
    environment:
      - MongoDb__ConnectionString=mongodb://mongodb:27017
      - RabbitMq__ConnectionString=amqp://guest:guest@rabbitmq:5672
      - ENABLE_SWAGGER=true
    depends_on:
      - mongodb
      - rabbitmq

volumes:
  mongodbdata:
  rabbitmqdata: